// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-contents {
    // background-color: #FFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0;
  }

  .reason-lists>.list {
    width: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .items {
    border:solid 1px rgba(0, 0, 0, 0.1);
  }

  .items2 {
    border:solid 1px rgba(0, 0, 0, 0.1);
    margin:20px;
    background-color:white;
  }

.item-img-content {
  position: relative;
  width:360px;
  
}
  .item-info {
    background-color: #FFF;
    color: black;
    padding: 1vw;
    width:100%;
    
  }

  .item-name {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }

  .item-price {
    font-size: 1.8vh;
    display: flex;
    // justify-content: space-between;
  }

  .move-to-top {
    margin: 10vh 0 10vh 2vh;
    font-size: 2.3vh;
    color: red;
    display: flex;
    justify-content:center;

}

.pop-nums {
    border:1px solid rgba(0, 0, 0, 0.151);
    background-color:white;
    display:flex;
    justify-content:center;
}

.item-lists {
    //   margin:10px;
    // display:inline-block;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;


}

.item-img2 {
    width:360px;
    height:360px;
  }
  