.comment-box {
  resize: none;
  width: 100%;
  height: 40vh;
  padding: 10px;
  background-color: white;
  margin: 5vh 0;
  text-align: center;
}

.comment-box2 {
  resize: none;
  width: 100%;
  height: 57vh;
  padding: 10px;
  background-color: white;
  margin: 5vh 0;
  text-align: center;
}

.comment-box3 {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 5vh 0;
  text-align: center;
}

.comment-list {
  margin: 2vh 0;
}

.comment-content {
  display: flex;
  padding: 2vh 0;
  width: 90%;
  border: solid 1px #0000001a;
  margin-left: 7.5vh;
  background-color:  #65ace4;
  margin-bottom: 3px; 
  border-radius:  10px; 
}

.comment-content2 {
  display: flex;
  padding: 2vh 0;
  width: 90%;
  border: solid 1px #0000001a;
  margin-left: 7.5vh;
  background-color:  #ffffff91;
  margin-bottom: 3px; 
  border-radius:  10px; 
}



.comment-nickname {
  margin: 0 4vh;
  font-size: 2.3vh;
  color: rgb(255, 255, 255);
}

.comment-nickname2 {
margin: 0 4vh;
color: rgba(0, 0, 0, 0.881);
}

.comment-texts {
  font-size:1.8vh;
  margin-top: 3.5px;
  color:rgba(255, 255, 255, 0.938);
}

.comment-texts2 {
  font-size:1.8vh;
  /* margin-top: 3.5px; */
  display:flex;
  align-items:center;
  color:rgba(0, 0, 0, 0.938);
}

.delete-button {
  color: rgba(255, 255, 255, 0.658);
  font-size: 2.5vh;
  /* border: solid 1px #00000014; */
  margin-left: 2vh;
  /* background-color: rgba(255, 233, 233, 0.63); */
}

.delete-button2 {
  color: rgba(0, 0, 0, 0.658);
  font-size: 2.5vh;
  /* border: solid 1px #00000014; */
  margin-left: 2vh;
  /* background-color: rgba(255, 233, 233, 0.63); */
}

.comment-time {
  font-size: 1.5vh;
  margin-left: 15px;
  color: rgb(0, 38, 255);
  background-color: rgba(255, 255, 255, 0.479);
  padding: 5px;
  display:flex;
  align-items:center;
}


.more-comments {
  color:red;
  font-size: 2vh;
  
}

.top-contents {
    border:1px solid rgba(128, 128, 128, 0.224);
    padding-left:17px;
    color:black;
    align-items:center;
}


.heart-color {
    color:red;
}

.heart-color {
  
}

.content_post {
  background-size:contain;
  width:120%;
  height:100%;
  margin:20px 0;
}

.error-message {
  font-size: 100px;
  color:black;
}

.post-title {
  color:black;
  position:absolute;
  top:10px;
  right:20%;
  background-color:white;
  padding:5px;
  border:1px black solid;
}

.post-text {
  color:rgba(0, 0, 0, 0.582);
  position:absolute;
  top:20%;
  right:12%;
  background-color:white;
  padding:5px;
}

.message-image {
  /* margin-left:20px;
  margin-top:20px; */
}

.header-buttons {
  display:flex;
}